@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

.text-center {
  text-align: center;
}

.bg-orange {
  background-color: rgb(255 129 11);
}

.bg-grey {
  background-color: #80808069;
}

.container {
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-top: 20px;
  font-size: 2rem;
  background: linear-gradient(to right, #fdfbfb, #ebedee 70%);
  text-transform: uppercase;
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#main_box {
  height: 50vh;
  width: 18vw;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.btn {
  padding: 15px;
  border-radius: 15%;
  border: none;
  margin-left: 17px;
  cursor: pointer;
  width: 60px;
  margin-bottom: 10px;
}

.input {
  display: block;
  margin: 15px auto;
  width: 89%;
  height: 43px;
  padding: 28px 43px;
  font-size: 2rem;
  border: none;
  background: transparent;
  text-align: right;
  cursor: pointer;
  box-shadow: inset 5px 5px 10px #cccccc, inset -5px -5px 10px #f4f4f4;
  border-radius: 12px;
}
